.two-buttons {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    display: inline-block;
}

.link-grid{
    display: inline-flex;
}
.ticket-view-grid{
    grid-column: 2;
}

.view{
    background-color: white;
    box-shadow: 0 10px 20px -4px;
    border: solid black;
    border-radius: 15px;
    font-weight: bold;

}

.link{
    text-decoration: none;
}


