.landing-container{
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.unsplash.com/31/8jLdwLg6TLKIQfJcZgDb_Freedom_5.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2722&q=80);
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
}

.title {
    grid-row: 2;
    grid-column: 2;
    display: block;
    text-align: center;
    width: 50vw;
    color: rgb(255, 255, 255);
  }
.link{
    text-decoration: none;
    color:  white;
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: 5vh;
    transition: 1.5s;
}
  
  .title h1:hover{
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px;
    transition: 1.5s;
  
  }
  
  .title p {
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: 4vh;
    font-weight: bold;
  }
  