.dash-grid{
    display: grid;
    grid-template-rows: 1fr,5fr;
}

.dash-menu{
    background-color: rgb(45, 48, 57);
    display: inline-block;
    color: rgb(255, 255, 255);
    /* david change */
    font-size: 1.5em;
    font-weight: bold;
    box-shadow:  0 10px 6px -4px black;
    text-align: center;
    padding: 1em;

    /* text-shadow: 0.1vh 0.2vh 0.1vh lightgray,
    0.5vh 0.8vh 0.6vh rgba(16, 16, 16, 0.4),
    0.6vh 0.9vh 0.8vh rgba(16, 16, 16, 0.4); */

}

.dash-link{
    transition: .1s;
    text-decoration:none;
    color: white;
}

.dash-link:hover{
    transition: .2s;
    /* david change */
    /* color: rgba(148, 108, 91, 0.1); */
    color: slategray;
}
.dash-header{
    border-bottom: 2px solid lightgray;
    padding-bottom: 2vh;
    color: slategray;
}

/* nothing */