
.dash-grid{
    display: grid;
}


.dash-menu{
    opacity: .7;
    color: rgb(255, 255, 255);
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    padding: 1em;
}
@media only screen and (max-width:760px){
    .dash-menu{
        font-size: .5em;
    }

}
ul{
    padding-inline-start: 0;
}
.dash-menu-items{
    display: grid;
    grid-template-columns:1fr 1fr auto;
    grid-template-rows: 1fr;
    grid-gap: 30px;
}
.dash-link{
    transition: 1s;
    text-decoration:none;
    color: white;
    font-size: 1.5em;
}


.dash-link:hover{
    transition: .5s;
    color: rgba(45, 48, 57, 0.126);
}
.dash-header{
    border-bottom: 2px solid lightgray;
    padding-bottom: 2vh;
    text-decoration: none;
    color: white;
}

.dashboard-link {
    text-decoration: none;
    transition: 1s;
}

.dash-header:hover{
    transition: .5s;
    color: rgba(45, 48, 57, 0.126);
}