
.search-container {
  text-align: center;
}

.search-box {
  font-size: 25px;
  border: none;
  color: rgb(98, 177, 176);
  border-radius: 5px;
  border: 2px solid grey;
  text-align: center;
}
.search-box:focus{
  outline: 0;
  border: 2px solid rgba(98, 177, 176, 0.735);
}

.search-box::placeholder{
  color: rgba(98, 177, 176, 0.735);
}


.ticket-item {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  transition: 1s;
  font-size: 1em;
}
.ticket-item:hover{
  background-color:rgba(98, 177, 176, 0.715);
  transition: 1s;
  
}

.edit-link {
  text-decoration: none;
  color: white;
  background-color: rgba(98, 177, 176, 0.715);
  transition: 1s;
}

.type {
  grid-column: 2;
}
.priority {
  grid-column: 3;
}
.edit {
  grid-column: 1;
}
.status {
  grid-column: 4;
}
.ticket-scroll {
  width: 100vw;
  opacity: .9;
  height: 11em;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 0 3px 15px -5px white;
  font-weight: bold;
  color: white;
}



.display-list{
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-input-placeholder {
  text-align: center;
}


@media only screen and (max-width:760px){
  .ticket-item{
    font-size: .1em;
    
  }
  .ticket-scroll{
    height: 6.9em;
  }

}