.form-label {
  text-align: center;
  grid-column: 1/4;
  grid-row: 1;
  font-size: 2em;
  font-weight: bold;
  color: white;

  
}

.create-form {
  opacity: .7;
  height: 23em;
  width: 20em;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  text-align: left;
  border-radius: 5px;
  color: white;
}

.form-inputs {
  grid-row: 2;
  display: grid;
  grid-gap: 1em;
  grid-column: 2;
  justify-items: center;
  border: none;
  font-weight: bold;

}
.form-submit {
  width: 7em;
  height: 2em;
  background-color: rgb(45, 48, 56);
  color: white;
  font-weight: bold;
  font-size: 1em;
  transition: 1s;
  border: none;
  border-radius: 20px;
  opacity: .8;
}

.form-submit:hover {
  background-color: white;
  color: rgb(45, 48, 56);
  transition: 1s;
}

.input {
  display: block;
  width: 20em;
  border: none;
  height: 1.9em;
  border-radius: 2px;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.589);
  font-size: 15px;
  color: white;
}
.input:focus{
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.694);
}

.textarea-box {
  height: 5em;
}

@media only screen and (max-width:760px){
  .input{
    width: 15em;
    
  }

}