.main-grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(2,.5fr) 4fr 3fr;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}


.ticket-search-container{
  grid-row: 4;
  grid-column: 1;
  display: flex;
  align-items: flex-start; 
  
}

.ticket-show-container{
  grid-column:1;
  grid-row:3;
  display: flex;
  justify-content: center;
  align-content: center;
}

.dashboard-container {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.header-container{
  grid-row: 1;
  display: flex;
  align-items: flex-start;
}

.main-header {
  height: 5em;
  width: 100vw;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 6px -4px;
}

.main-header-text {
  opacity: .7;
  font-size: 2.5em;
  color: white;
  font-weight: bold;
  padding-left: 1em; 
}
@media only screen and (max-width:760px){
  .main-header-text{
    font-size: 1.8em;

  }
}
.create-container{
  grid-row: 3/5;
  grid-column:1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}




